{{#each productsData}}
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p> $:{{price}}</p>
  <p> code:{{code}}</p>
  <p> category:{{category}}</p>
  <p> stock:{{stock}}</p>
  <p> {{thumbnails}}</p>
  <p> {{_id}}</p>
{{/each}}



