<div>
    <h1>Bienvenido {{visitor.first_name}}- {{visitor.role}}- </h1> 
   
{{#each products}}
    <li>
        <strong>Title:  </strong>{{this.title}}-
        <strong>Description:  </strong>{{this.description}}-
        <strong>Price:  </strong>{{this.price}}-
        <strong>Stock:  </strong>{{this.stock}}-
        <strong>Status:  </strong>{{this.status}}-
        <strong>Category:  </strong>{{this.category}}-
        <strong>Code:  </strong>{{this.code}}-
       
       
    </li>
    {{/each}} 

</div>

 