
<h3>Bienvenido/a {{user.name}}</h3>
<botoom> <a href="/api/sessions/signout"> SIGNOUT</a> </botoom>

{{#each productsData}}
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p> $:{{price}}</p>
  <p> code:{{code}}</p>
  <p> category:{{category}}</p>
  <p> stock:{{stock}}</p>
  <p> {{thumbnails}}</p>
  <p> {{_id}}</p>
{{/each}}



